---
import Layout from "../layouts/Layout.astro";

import { basics } from "@cv";
const { name, summary, label, location } = basics;
const { city, region } = location;

---
<Layout title="About" pageName="about">
	<div>
		<h1>{name}</h1>
		<h2>{label}</h2>
		<p>{city}, {region}</p>
		<p>{summary}</p>
	</div>
</Layout>
