---
import Layout from "../layouts/Layout.astro";

import { basics } from "@cv";
const { name, summary, label, location } = basics;
const { city, region } = location;

---
<Layout title="About" pageName="about">
	<div>
		<h1>{name}</h1>
		<h2>{label}</h2>
		<p>{city}, {region}</p>
		<p>{summary}</p>
	</div>
</Layout>
<style>
	:global(.page__content),
	:global(.about .navigation) {
		--color--background: var(--color--light);
		--color--foreground: var(--color--dark);
	}

	:global(.page__content) {
		background: var(--color--background);
		color: var(--color--foreground);
		border-radius: var(--border-height);
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

</style>