---
import { education } from "@cv";
---

<section>
	<h3>Education</h3>
	<ul>
		{
			education.map(({ institution, startDate, endDate, area, url }) => {
				const startYear = new Date(startDate).getFullYear();
				const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual";
				const years = `${startYear} - ${endYear}`;

				return (
					<div>
						<h3>
							<a target="_blank" href={url}>
								{institution}
							</a>
						</h3>
						<div>{area}</div>
						<time>{years}</time>
					</div>
				);
			})
		}
	</ul>
</section>
