---
import { ViewTransitions } from 'astro:transitions';
import { basics } from "@cv";
import Page from "../components/Page.astro";
const { summary, url  } = basics;
const { title } = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Page title</title>
		<ViewTransitions />
		<meta name="description" content={summary} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Jacquard+12&family=Jacquard+12" rel="stylesheet">
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content="" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={summary} />
		<meta name="twitter:image" content="" />
		<script src="../scripts.js"></script>
		<link rel="stylesheet" href="/themes/themes.css" />
	</head>
	<body>
		<Page {...Astro.props}>
			<slot/>
		</Page>
	</body>
</html>
<style is:global>
	:root {
		--color--light: rgb(255, 191, 203);
		--color--dark: rgb(3, 1, 3);
		--color--background: var(--color--light);
		--color--foreground: var(--color--dark);
		--font-family--body: "DM Mono", monospace;
		--font-weight--body: 500;
		--font-family--display: "Jacquard 12", system-ui;
		--font-weight--display: 400;
		--font-size--l: 4em;
	}

	html {
	//	scroll-behavior: smooth;
	//	scroll-snap-type: y mandatory;
	}

	* {
		box-sizing: border-box;
	}

	body {
	//	overscroll-behavior: none;
		margin: 0;
		background: var(--color--light);
		font-style: normal;
		font-family: var(--font-family--body);
		font-weight: var(--font-weight--body);
	}

	.is-l-display,
	.is-m-display {
		font-family: var(--font-family--display);
		font-weight: var(--font-weight--display);
		margin: 0;
	}

	.is-l-display {
		font-size: var(--font-size--l);
	}

	.is-dark {
		--color--background: var(--color--dark);
		--color--foreground: var(--color--light);

		background: var(--color--dark);
		color: var(--color--light);
	}

	::selection {
		background: var(--color--foreground);
		color: var(--color--background);
	}

	a {
		color: currentColor;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.print {
		display: none !important;
	}

	@page {
		size: auto;
		margin: 0;
	}

	@media print {
		.no-print {
			display: none !important;
		}

		.print {
			display: block !important;
		}
	}
</style>
